body {
    background-color: #f8f9fa;
    font-family: 'Gilroy-Medium', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
}


footer {
    background-color: #e9ecef;
}